<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Cloud Security Suite</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="logo clearfix"></div>
		<div class="main-wrap">
			<div class="container smooth">
				<div class="row">
					<!-- Repeatable component-->
					<div class="col-md-3">
						<!-- Change href="#" to href="your link" -->
						<a href="./security_center.html" class="tilter tilter--5" target="_blank">
							<figure class="tilter__figure">
								<div class="tilter__image"></div>
								<div class="tilter__deco tilter__deco--shine"><div></div></div>
								<div class="tilter__deco tilter__deco--overlay"></div>
								<figcaption class="tilter__caption">
									<h3 class="tilter__title">Security Center</h3>
									<p class="tilter__description">Encryption, Firewall, Threat Detection </p>
								</figcaption>
								<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
									<path d="M20.5,20.5h260v375h-260V20.5z" />
								</svg>
							</figure>
						</a>
					</div>
					<!-- Repeatable component ends-->
					<div class="col-md-3">
						<a href="./storage_account.html" class="tilter tilter--5" target="_blank">
							<figure class="tilter__figure">
								<div class="tilter__image"></div>
								<div class="tilter__deco tilter__deco--shine"><div></div></div>
								<div class="tilter__deco tilter__deco--overlay"></div>
								<figcaption class="tilter__caption">
									<h3 class="tilter__title">Storage Accounts</h3>
									<p class="tilter__description"> File Service, Storage service  </p>
								</figcaption>
								<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
									<path d="M20.5,20.5h260v375h-260V20.5z" />
								</svg>
							</figure>
						</a>
					</div>
					<div class="col-md-3">
						<a href="./logging_monitoring.html" class="tilter tilter--5" target="_blank">
							<figure class="tilter__figure">
								<div class="tilter__image"></div>
								<div class="tilter__deco tilter__deco--shine"><div></div></div>
								<div class="tilter__deco tilter__deco--overlay"></div>
								<figcaption class="tilter__caption">
									<h3 class="tilter__title">Logging and Monitoring</h3>
									<p class="tilter__description">Log retention policy, Alerts on Create/delete events</p>
								</figcaption>
								<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
									<path d="M20.5,20.5h260v375h-260V20.5z" />
								</svg>
							</figure>
						</a>
					</div>
					<div class="col-md-3">
						<a href="./network.html" class="tilter tilter--5"  target="_blank">
							<figure class="tilter__figure">
								<div class="tilter__image"></div>
								<div class="tilter__deco tilter__deco--shine"><div></div></div>
								<div class="tilter__deco tilter__deco--overlay"></div>
								<figcaption class="tilter__caption">
									<h3 class="tilter__title">Networking</h3>
									<p class="tilter__description">Network Watcher, Network Rules </p>
								</figcaption>
								<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
									<path d="M20.5,20.5h260v375h-260V20.5z" />
								</svg>
							</figure>
						</a>
					</div>
					<div class="col-md-3">
						<a href="./vm.html" class="tilter tilter--5"  target="_blank">
							<figure class="tilter__figure">
								<div class="tilter__image"></div>
								<div class="tilter__deco tilter__deco--shine"><div></div></div>
								<div class="tilter__deco tilter__deco--overlay"></div>
								<figcaption class="tilter__caption">
									<h3 class="tilter__title">Virtual Machines</h3>
									<p class="tilter__description">Agents, Disk Encryption, Extensions </p>
								</figcaption>
								<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
									<path d="M20.5,20.5h260v375h-260V20.5z" />
								</svg>
							</figure>
						</a>
					</div>
					<div class="col-md-3">
						<a href="./vault.html" class="tilter tilter--5"  target="_blank">
							<figure class="tilter__figure">
								<div class="tilter__image"></div>
								<div class="tilter__deco tilter__deco--shine"><div></div></div>
								<div class="tilter__deco tilter__deco--overlay"></div>
								<figcaption class="tilter__caption">
									<h3 class="tilter__title">Azure Vault</h3>
									<p class="tilter__description"> Keys, Secrets Retention</p>
								</figcaption>
								<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
									<path d="M20.5,20.5h260v375h-260V20.5z" />
								</svg>
							</figure>
						</a>
					</div>
                                        <div class="col-md-3">
                                                <a href="./sql_db.html" class="tilter tilter--5"  target="_blank">
                                                        <figure class="tilter__figure">
                                                                <div class="tilter__image"></div>
                                                                <div class="tilter__deco tilter__deco--shine"><div></div></div>
                                                                <div class="tilter__deco tilter__deco--overlay"></div>
                                                                <figcaption class="tilter__caption">
                                                                        <h3 class="tilter__title">SQL Databases</h3>
                                                                        <p class="tilter__description"> Audit, alerts, retention</p>
                                                                </figcaption>
                                                                <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
                                                                        <path d="M20.5,20.5h260v375h-260V20.5z" />
                                                                </svg>
                                                        </figure>
                                                </a>
                                        </div>
                    <div class="col-md-3">
						<a href="../diff.html" class="tilter tilter--5"  target="_blank">
							<figure class="tilter__figure">
								<div class="tilter__image"></div>
								<div class="tilter__deco tilter__deco--shine"><div></div></div>
								<div class="tilter__deco tilter__deco--overlay"></div>
								<figcaption class="tilter__caption">
									<h3 class="tilter__title">Diff</h3>
									<p class="tilter__description"> More info on: Persistent Warnings</p>
								</figcaption>
								<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
									<path d="M20.5,20.5h260v375h-260V20.5z" />
								</svg>
							</figure>
						</a>
					</div>
				</div>
			</div>
		</div>
        <script src="js/vendor/jquery-2.2.4.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/anime.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
