<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Cloud Security Suite</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="logo clearfix"></div>
		<div class="main-wrap">
			<div class="container smooth">
				<div class="row">
					<!-- Repeatable component-->
					<div class="col-md-3">
						<!-- Change href="#" to href="your link" -->
						<a href="./../scout2_report/report.html" class="tilter tilter--5" target="_blank">
							<figure class="tilter__figure">
								<div class="tilter__image"></div>
								<div class="tilter__deco tilter__deco--shine"><div></div></div>
								<div class="tilter__deco tilter__deco--overlay"></div>
								<figcaption class="tilter__caption">
									<h3 class="tilter__title">Scout2</h3>
									<p class="tilter__description">First thing you should look at !</p>
								</figcaption>
								<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
									<path d="M20.5,20.5h260v375h-260V20.5z" />
								</svg>
							</figure>
						</a>
					</div>
					<!-- Repeatable component ends-->
					<div class="col-md-3">
						<a href="./../delta/prowler_report.html" class="tilter tilter--5" target="_blank">
							<figure class="tilter__figure">
								<div class="tilter__image"></div>
								<div class="tilter__deco tilter__deco--shine"><div></div></div>
								<div class="tilter__deco tilter__deco--overlay"></div>
								<figcaption class="tilter__caption">
									<h3 class="tilter__title">Prowler</h3>
									<p class="tilter__description">Second best thing !</p>
								</figcaption>
								<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
									<path d="M20.5,20.5h260v375h-260V20.5z" />
								</svg>
							</figure>
						</a>
					</div>
					<div class="col-md-3">
						<a href="./../delta/webnet.html" class="tilter tilter--5" target="_blank">
							<figure class="tilter__figure">
								<div class="tilter__image"></div>
								<div class="tilter__deco tilter__deco--shine"><div></div></div>
								<div class="tilter__deco tilter__deco--overlay"></div>
								<figcaption class="tilter__caption">
									<h3 class="tilter__title">Web & Network</h3>
									<p class="tilter__description">Info on: CDN, CERTS, DNS, ELB</p>
								</figcaption>
								<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
									<path d="M20.5,20.5h260v375h-260V20.5z" />
								</svg>
							</figure>
						</a>
					</div>
					<div class="col-md-3">
						<a href="./../delta/datastores.html" class="tilter tilter--5"  target="_blank">
							<figure class="tilter__figure">
								<div class="tilter__image"></div>
								<div class="tilter__deco tilter__deco--shine"><div></div></div>
								<div class="tilter__deco tilter__deco--overlay"></div>
								<figcaption class="tilter__caption">
									<h3 class="tilter__title">Data Stores</h3>
									<p class="tilter__description">Info on: EC, ES, RDS, REDSHIFT </p>
								</figcaption>
								<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
									<path d="M20.5,20.5h260v375h-260V20.5z" />
								</svg>
							</figure>
						</a>
					</div>
					<div class="col-md-3">
						<a href="./../delta/notification.html" class="tilter tilter--5"  target="_blank">
							<figure class="tilter__figure">
								<div class="tilter__image"></div>
								<div class="tilter__deco tilter__deco--shine"><div></div></div>
								<div class="tilter__deco tilter__deco--overlay"></div>
								<figcaption class="tilter__caption">
									<h3 class="tilter__title">Notification</h3>
									<p class="tilter__description">More info on: CloudFormation, SES, SNS</p>
								</figcaption>
								<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
									<path d="M20.5,20.5h260v375h-260V20.5z" />
								</svg>
							</figure>
						</a>
					</div>
					<div class="col-md-3">
						<a href="./../delta/configs.html" class="tilter tilter--5"  target="_blank">
							<figure class="tilter__figure">
								<div class="tilter__image"></div>
								<div class="tilter__deco tilter__deco--shine"><div></div></div>
								<div class="tilter__deco tilter__deco--overlay"></div>
								<figcaption class="tilter__caption">
									<h3 class="tilter__title">Configs</h3>
									<p class="tilter__description"> More info on: EC2, KEYS, AWS Config, VPC</p>
								</figcaption>
								<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
									<path d="M20.5,20.5h260v375h-260V20.5z" />
								</svg>
							</figure>
						</a>
					</div>
                                        <div class="col-md-3">
                                                <a href="./trusted_advisor.html" class="tilter tilter--5"  target="_blank">
                                                        <figure class="tilter__figure">
                                                                <div class="tilter__image"></div>
                                                                <div class="tilter__deco tilter__deco--shine"><div></div></div>
                                                                <div class="tilter__deco tilter__deco--overlay"></div>
                                                                <figcaption class="tilter__caption">
                                                                        <h3 class="tilter__title">AWS Trusted Advisor</h3>
                                                                        <p class="tilter__description"> More info on: Checks from AWS Trusted Advisor</p>
                                                                </figcaption>
                                                                <svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
                                                                        <path d="M20.5,20.5h260v375h-260V20.5z" />
                                                                </svg>
                                                        </figure>
                                                </a>
                                        </div>
					<div class="col-md-3">
						<a href="./../delta/diff.html" class="tilter tilter--5"  target="_blank">
							<figure class="tilter__figure">
								<div class="tilter__image"></div>
								<div class="tilter__deco tilter__deco--shine"><div></div></div>
								<div class="tilter__deco tilter__deco--overlay"></div>
								<figcaption class="tilter__caption">
									<h3 class="tilter__title">Diff</h3>
									<p class="tilter__description"> More info on: Persistent Warnings</p>
								</figcaption>
								<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
									<path d="M20.5,20.5h260v375h-260V20.5z" />
								</svg>
							</figure>
						</a>
					</div>
					<div class="col-md-3">
						<a href="./../../../../local_audit" class="tilter tilter--5"  target="_blank">
							<figure class="tilter__figure">
								<div class="tilter__image"></div>
								<div class="tilter__deco tilter__deco--shine"><div></div></div>
								<div class="tilter__deco tilter__deco--overlay"></div>
								<figcaption class="tilter__caption">
									<h3 class="tilter__title">IP Audit</h3>
									<p class="tilter__description">Check IP Audit results</p>
								</figcaption>
								<svg class="tilter__deco tilter__deco--lines" viewBox="0 0 300 415">
									<path d="M20.5,20.5h260v375h-260V20.5z" />
								</svg>
							</figure>
						</a>
					</div>
				</div>
			</div>
		</div>
        <script src="js/vendor/jquery-2.2.4.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/anime.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
